
.main-container{
    background-color: #efefef;
    .detail-content{
        width: 80%;
        background-color: #fff;
        .cover-warpper{
            width: 100%;
            padding-bottom: 136%;
            height: 0;
            position: relative;
            .cover{
                width: 100%;
                height: 100%;
                background-color: #000;
                position: absolute;
            }
        }
    }
}
