<app-nav></app-nav>
<div class="main-container container-fluid p-0">
    <div class="detail-content m-auto px-3">
        <div class="row">
            <div class="movie-detail col-md-2 p-1">
                <div class="cover-warpper">
                    <img class=cover src="{{movie.image}}" alt="">
                </div>
            </div>
            <div class="col-md-10">
                <div>{{movie.title}}</div>
                <div>{{movie.year}}</div>
                <div>{{movie.desc}}</div>
            </div>
        </div>
        <div>
            <div class="play-list">
                <span>播放地址</span>
                <div>
                    <span *ngFor="let playUrl of movie.playUrls">
                        <a href="{{playUrl.url}}">第{{playUrl.episode}}集</a>
                    </span>
                </div>
            </div>
        
            <div class="download-list" *ngIf="movie.downloadUrls.length > 0">
                <span>下载地址</span>
                <div *ngFor="let downloadUrl of movie.downloadUrls">
                    <span>第{{downloadUrl.episode}}集：</span><span>{{downloadUrl.url}}</span>
                </div>
            </div>
        </div>
    </div>
</div>