<app-nav></app-nav>
<!-- <label>
    Name:
    <input type="text" [formControl]="article" />
</label>

<span>
    {{ article.value }}
</span>

<button (click)="updateVal()"></button>

<form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
    <label>
        First Name:
        <input type="text" formControlName="firstName" />
    </label>

    <label>
        Last Name:
        <input type="text" formControlName="lastName" />
    </label>
    <button type="submit">submit</button>
</form> -->

<form #articleForm="ngForm" (ngSubmit)="onSubmit()">
    <label>
        First Name:
        <input type="text" name="firstName" />
    </label>

    <label>
        Last Name:
        <input type="text" name="lastName" />
    </label>
    <button type="submit">submit</button>
</form>
