<app-nav></app-nav>
<div class="container-fluid">
    <div class="center">
        <div class="form-group form-check">
            <div>
                <input type="checkbox" [checked]="!showRawMd" (click)="switchRaw()" class="form-check-input" id="exampleCheck1">
                <label class="form-check-label" for="exampleCheck1">显示MarkDown源码</label>
                <button class="btn btn-success btn-sm ml-1" (click)="copyMessage(MdData)" value="click to copy" >复制MarkDown</button>
            </div>
        </div>
        <div *ngIf="showRawMd">
            <div *ngIf="MdData">
                <nu-markdown-preview [value]="MdData"></nu-markdown-preview>
            </div>
        </div>
        <div *ngIf="!showRawMd">
            <div class="alert alert-secondary">
            <pre>{{MdData}}</pre>
            </div>
        </div>
    </div>
</div>
