<app-nav></app-nav>
<div class="container-fluid">
  <div class="center">
    <div class="form-group form-check">
      <div class="d-flex flex-row">
        <div class="mr-1">
          <input
            type="checkbox"
            [checked]="showRawMd === 'html'"
            (click)="switchRaw('html')"
            class="mr-1"
            id="exampleCheck1"
          />
          <label class="form-check-label" for="exampleCheck1">Html</label>
        </div>
        <div class="mr-1">
          <input
            type="checkbox"
            [checked]="showRawMd === 'markdown'"
            (click)="switchRaw('markdown')"
            class="mr-1"
            id="exampleCheck2"
          />
          <label class="form-check-label" for="exampleCheck2">MarkDown</label>
        </div>
        <div class="mr-1">
          <input
            type="checkbox"
            [checked]="showRawMd === 'text'"
            (click)="switchRaw('text')"
            class="mr-1"
            id="exampleCheck3"
          />
          <label class="form-check-label" for="exampleCheck3">Text</label>
        </div>
        <div class="mr-1">
          <input
            type="checkbox"
            [checked]="showRawMd === 'titles'"
            (click)="switchRaw('titles')"
            class="mr-1"
            id="exampleCheck4"
          />
          <label class="form-check-label" for="exampleCheck4">Titles</label>
        </div>
        <div>
          <button
            class="btn btn-success btn-sm ml-1"
            (click)="copyMessage(MdData)"
            value="click to copy"
          >
            复制MarkDown
          </button>
          <button
            *ngIf="showRawMd === 'text'"
            class="btn btn-success btn-sm ml-1"
            (click)="copyText('MdText')"
            value="click to copy"
          >
            Copy Text
          </button>

          <button
            class="btn btn-success btn-sm ml-1"
            (click)="copyText('titles')"
            value="click to copy"
          >
            Copy Titles
          </button>
        </div>
      </div>
      <div *ngIf="showRawMd === 'markdown'">
        获取各新闻详情链接，请猛戳 “阅读原文”<br />
        ↓↓↓↓↓
      </div>
    </div>
    <div *ngIf="showRawMd == 'html'">
      <div *ngIf="MdData">
        <nu-markdown-preview [value]="MdData"></nu-markdown-preview>
      </div>
    </div>
    <div *ngIf="showRawMd === 'markdown'">
      <div class="alert alert-secondary">
        <pre>{{ MdData }}</pre>
      </div>
    </div>
    <div id="MdText" *ngIf="showRawMd === 'text'">
      <div *ngIf="MdText">
        <nu-markdown-preview [value]="MdText"></nu-markdown-preview>
      </div>
    </div>
    <div id="titles">
      <div *ngFor="let title of titles">{{ title }}</div>
    </div>
  </div>
</div>
