<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" href="#">Search Gank</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarText"
    aria-controls="navbarText"
    aria-expanded="false"
    (click)="toggleNav()"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div
    class="collapse navbar-collapse"
    [ngClass]="{ show: navShow }"
    id="navbarText"
  >
    <ul class="navbar-nav mr-auto">
      <li
        class="nav-item"
        [ngClass]="{ active: router.url.indexOf('/infoq') > -1 }"
      >
        <a class="nav-link" href="#"
          >搜索引擎 <span class="sr-only">(current)</span></a
        >
      </li>
      <li
        class="nav-item"
        [ngClass]="{ active: router.url.indexOf('/author') > -1 }"
      >
        <a class="nav-link" href="#/author"
          >博主查询 <span class="sr-only">(current)</span></a
        >
      </li>
      <li
        class="nav-item"
        [ngClass]="{ active: router.url.indexOf('/graph') > -1 }"
      >
        <a class="nav-link" href="#/graph"
          >数据可视化 <span class="sr-only">(current)</span></a
        >
      </li>
      <li
        class="nav-item"
        [ngClass]="{ active: router.url.indexOf('/news') > -1 }"
      >
        <a class="nav-link" href="#/news"
          >每日新闻 <span class="sr-only">(current)</span></a
        >
      </li>
      <li
        class="nav-item"
        [ngClass]="{ active: router.url.indexOf('/kr-news') > -1 }"
      >
        <a class="nav-link" href="#/kr-news"
          >36氪新闻 <span class="sr-only">(current)</span></a
        >
      </li>
      <li
        class="nav-item"
        [ngClass]="{ active: router.url.indexOf('/github') > -1 }"
      >
        <a class="nav-link" href="#/github"
          >GitHub<span class="sr-only">(current)</span></a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          target="_blank"
          href="https://github.com/quickly3/game-search-engine"
          >Git</a
        >
      </li>
    </ul>
  </div>
</nav>
