.icons {
    display: inline-block;
    background-size: 18px 18px;
    background-repeat: no-repeat;
    vertical-align: bottom;
    height: 18px;
    width: 18px;
    margin: 0 0 3px 3px;
    cursor: pointer;
}

.icons-sm {
    display: inline-block;
    background-size: 13px 13px;
    background-repeat: no-repeat;
    vertical-align: bottom;
    height: 14px;
    width: 14px;
    margin: 0.25rem;
    border: 1px solid #e6e6e6;
}

.icon-all {
    background-image: url(/assets/images/ico/all.jpg);
}

.icon-sf {
    background-image: url(/assets/images/ico/sf.ico);
}

.icon-cnblogs {
    background-image: url(/assets/images/ico/cnblogs.jpg);
}

.icon-infoq {
    background-image: url(/assets/images/ico/infoq.ico);
}

.icon-bilibili {
    background-image: url(/assets/images/ico/bilibili.ico);
}

.icon-juejin {
    background-image: url(/assets/images/ico/juejin.png);
}

.icon-csdn {
    background-image: url(/assets/images/ico/csdn.ico);
}

.icon-jianshu {
    background-image: url(/assets/images/ico/jianshu.ico);
}

.icon-github {
    background-image: url(/assets/images/ico/github.png);
}

.icon-oschina {
    background-image: url(/assets/images/ico/oschina.ico);
}

.icon-escn {
    background-image: url(/assets/images/ico/escn.ico);
}

.icon-elastic {
    background-image: url(/assets/images/ico/elastic.png);
}

.icon-itpub {
    background-image: url(/assets/images/ico/itpub.ico);
}

.icon-datawhale {
    background-image: url(/assets/images/ico/datawhale.png);
}

.icon-alidev {
    background-image: url(/assets/images/ico/alidev.ico);
}

.icon-36kr {
    background-image: url(/assets/images/ico/36kr.ico);
}