.search-header {
    .search-input {
        width: 300px;
        margin: 0 auto;
        margin: 10px auto;
        input {
            width: 200px;
            display: inline-block;
            vertical-align: top;
            margin-right: 15px;
        }
    }
}

.main-container{
    background-color: #efefef;
    .list-content{
        background-color: #fff;
        .cover-warpper{
            width: 100%;
            padding-bottom: 136%;
            height: 0;
            position: relative;
            .cover{
                width: 100%;
                height: 100%;
                background-color: #000;
                position: absolute;
            }
        }
    
        .title{
            display: -webkit-box;
            -webkit-line-clamp: 1;
            -webkit-box-orient: vertical;
            overflow : hidden;
            text-overflow: ellipsis;
        }
    }
}
