.graph-zone{
    width: 400px;
    height: 400px;
}

.graph-nav{
    align-items: inherit;
    justify-content: start;
    padding: 0;
    width: 250px;
    .nav-link{
        color: #666;
    }
    .nav-link.active{
        color: #222;
    }
}