<app-nav></app-nav>
<div class="container-fluid">
    <div class="row">
        <div class="col">
            <h2>全部数据分布</h2>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="graph-zone">
                <app-pie dataId='totalData' [data]=totalData></app-pie>
            </div>
        </div>
        <div class="col">
            <ul>
                <li *ngFor="let item of totalData">
                    <span>{{item.name}}: {{item.value}}</span>
                </li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h2>昨日数据分布</h2>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="graph-zone">
                <app-pie dataId='lastDayData' [data]=lastDayData></app-pie>
            </div>
        </div>
        <div class="col">
            <ul>
                <li *ngFor="let item of lastDayData">
                    <span>{{item.name}}: {{item.value}}</span>
                </li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col">
           <nu-markdown-preview value="{{MdData}}"></nu-markdown-preview>
        </div>
    </div>
</div>
