.search-header {
    .search-input {
        width: 300px;
        margin: 0 auto;
        margin: 10px auto;
        input {
            width: 200px;
            display: inline-block;
            vertical-align: top;
            margin-right: 15px;
        }
    }
}

.words_cloud {
    margin: 20px 5px;
    span {
        font-size: 12px;
        padding-right: 5px;
        cursor: pointer;
    }
}

.daily_item {
    margin-bottom: 15px;
}

.custom-radio {
    display: inline-block;
    margin-right: 5px;
}

.summary {
    font-size: 14px;
    em {
        color: crimson;
        font-style: inherit;
    }
}

.summary > em {
    color: crimson;
    font-style: inherit;
}

.icons {
    display: inline-block;
    background-size: 18px 18px;
    background-repeat: no-repeat;
    vertical-align: bottom;
    height: 18px;
    width: 18px;
    margin: 0 0 2px 3px;
}

.icon-all {
    background-image: url(/assets/images/ico/all.jpg);
}

.icon-sf {
    background-image: url(/assets/images/ico/sf.ico);
}

.icon-cnblogs {
    background-image: url(/assets/images/ico/cnblogs.jpg);
}

.icon-infoq {
    background-image: url(/assets/images/ico/infoq.ico);
}

.icon-juejin {
    background-image: url(/assets/images/ico/juejin.png);
}

.icon-csdn {
    background-image: url(/assets/images/ico/csdn.ico);
}

.icon-jianshu {
    background-image: url(/assets/images/ico/jianshu.ico);
}

.icon-oschina {
    background-image: url(/assets/images/ico/oschina.ico);
}
