<app-nav></app-nav>
<div class="container-fluid">
  <div class="search-header">
    <div class="search-input">
      <input
        id="typeahead-basic"
        type="text"
        class="form-control form-control-sm"
        [(ngModel)]="keywords"
        [focusFirst]="false"
        (keydown)="searchOnKeydown($event)"
        [ngbTypeahead]="autoComplete"
        #instance="ngbTypeahead"
        placeholder="搜索"
      />
      <button type="button" class="btn btn-primary btn-sm" (click)="search()">
        搜索
        <i class="fas fa-search"></i>
      </button>
    </div>
  </div>
  <div style="font-size: 12px;">
    找到 <strong>{{total_number}}</strong> 条结果 （用时约 <strong>{{took}}</strong> ms） 当前第 <strong>{{current_page}}</strong> 页,共 <strong>{{total_page}}</strong> 页 数据来源 <strong>{{_source.text}}</strong>
  </div>
  <div class="tags" [ngClass]="{'tags-switch':!show_more}">
    <div
      class="custom-control custom-radio"
      *ngFor="let tag of tags"
      (click)="selectTag(tag.text)"
    >
      <input
        type="radio"
        name="customRadio"
        value="{{ tag.text }}"
        [(ngModel)]="_tag"
      />
      <span>{{ tag.i18n }} ({{tag.count}})</span>
    </div>
  </div>
  <div  class="more-tags" (click)="show_more = !show_more;">
    <a *ngIf="!show_more" href="javascript:;">more</a>
    <a *ngIf="show_more" href="javascript:;">close</a>
  </div>
  <div class="row">
    <div class="col-md-2">
      <div class="option-title">
        <span>数据来源:</span>
      </div>
      <div class="option-zone source-selector">
        <div
          class="custom-control custom-radio"
          *ngFor="let source of source_list"
          (click)="selectSource(source)"
        >
          <input
            type="radio"
            name="sourceRadio"
            value="{{ source.title }}"
            [(ngModel)]="_source.title"
          />
          <div class="icons {{ source.source_class }}"></div>
        </div>
      </div>
      <div class="option-title">
        <span>词云:</span>
      </div>
      <div class="option-zone words_cloud">
        <span
          class="text-info"
          *ngFor="let word of words_cloud"
          (click)="wordsCloudToKeyWords(word)"
          >{{ word.key }}</span
        >
      </div>
    </div>
    <div class="col-md-10">
      <div class="escn_list">
        <div
          class="daily_item row"
          *ngFor="let daily_item of escn_list"
          routerLinkActive="active"
        >
          <div class="des_zone col-md-10 col-sm-12">
            <div>
              <a class="title_a" [href]="daily_item.url" target="_blank" [innerHtml]="daily_item.title"></a>
              <!-- &nbsp;
                            <app-star-rating
                                [(stars)]="daily_item.stars"
                                (outer)="starsChange($event, daily_item)"
                            ></app-star-rating> -->
            </div>
            
            <div class="summary" [innerHtml]="daily_item.summary"></div>
            <div>
              <div class="icons-sm {{ daily_item.badge_class }}"></div>
              <span class="created" *ngIf="daily_item.created_at">{{ daily_item.created_at | date: "yyyy-MM-dd" }}</span>
            </div>
            <div class="link"><span class="text-secondary">{{ daily_item.url | slice:0:100 }}</span></div>
          </div>
        </div>
      </div>

      <div class="pagination">
        <ngb-pagination
          class="navigation"
          [collectionSize]="total_number"
          [(page)]="current_page"
          [pageSize]="row"
          [maxSize]="5"
          [ellipses]="false"
          size="sm"
          (pageChange)="pageChange()"
        ></ngb-pagination>
      </div>
    </div>
  </div>
</div>
