.search-header {
    .search-input {
        input {
            width: 200px;
            display: inline-block;
            vertical-align: top;
            margin-right: 15px;
        }
        .search-zone{
            width: 300px;
            margin: 10px auto;
        }
        .sort-by{
            display: inline-block;
            margin: 10px;
            .dropdown-menu{
                padding: 0.1em 0;
                .dropdown-item{
                    font-size: 14px;
                    padding: 5px 10px;
                }
            }
        }
    }
}
a:hover{
    text-decoration:none
}
.initSearch{
    color: #0099FF;
    cursor: pointer;
}

.authorSeatch{
    cursor: pointer;
    color: #FFCC99 !important;
}

.words_cloud {
    margin: 0px 5px;
    word-break: break-word;
    span {
        font-size: 12px;
        padding-right: 5px;
        cursor: pointer;
        display: inline-block;
    }
}

.daily_item {
    margin-bottom: 15px;
    word-break: break-all;
}

.daily_item_title_model {
    margin-bottom: 5px;
    word-break: break-all;
}

.custom-radio {
    display: inline-block;
    margin-right: 0.5rem;
    padding-left: 0;
}

.summary {
    font-size: 14px;
    word-break: break-all;
    em {
        color: crimson;
        font-style: inherit;
    }
}

.title_a{
    em {
        color: crimson;
        font-style: inherit;
    }
}

.user_icon{
    font-size: 10px;
    color: #888;
    margin-right: 3px;
}

.user_count{
    font-size: 10px;
    color: #888;
    margin-right: 5px;
}

.link{
    margin-left: 5px;
    font-size: 10px;
}

.summary > em {
    color: crimson;
    font-style: inherit;
}
.datepicker{
    position: relative;
    margin-top: 5px ;
    .picker-btn{
        position: absolute;
        top: 0px;
        right: 0px;
    }
}

.author-search{
    margin-bottom: 10px ;
}

.icons {
    display: inline-block;
    background-size: 18px 18px;
    background-repeat: no-repeat;
    vertical-align: bottom;
    height: 18px;
    width: 18px;
    margin: 0 0 3px 3px;
}

.icons-sm {
    display: inline-block;
    background-size: 13px 13px;
    background-repeat: no-repeat;
    vertical-align: bottom;
    height: 14px;
    width: 14px;
    margin: 0.25rem;
    border: 1px solid #e6e6e6;
}

.icon-all {
    background-image: url(/assets/images/ico/all.jpg);
}

.icon-sf {
    background-image: url(/assets/images/ico/sf.ico);
}

.icon-cnblogs {
    background-image: url(/assets/images/ico/cnblogs.jpg);
}

.icon-infoq {
    background-image: url(/assets/images/ico/infoq.ico);
}

.icon-juejin {
    background-image: url(/assets/images/ico/juejin.png);
}

.icon-csdn {
    background-image: url(/assets/images/ico/csdn.ico);
}

.icon-jianshu {
    background-image: url(/assets/images/ico/jianshu.ico);
}

.icon-oschina {
    background-image: url(/assets/images/ico/oschina.ico);
}

.icon-escn {
    background-image: url(/assets/images/ico/escn.ico);
}

.icon-elastic {
    background-image: url(/assets/images/ico/elastic.png);
}

.icon-itpub {
    background-image: url(/assets/images/ico/itpub.ico);
}

.icon-datawhale {
    background-image: url(/assets/images/ico/datawhale.png);
}

.icon-alidev {
    background-image: url(/assets/images/ico/alidev.ico);
}

.created{
    font-size: 12px;
    color: #888;
    margin-right: 10px;
}

.author{
    font-size: 12px;
    color: #888;
    margin-right: 5px;
}

.width-50{
    width: 48%;
    display: inline-block;
}

.delimiter{
    color: #888;
    font-size: 10px;
    position: relative;
    top: -2px;
}

.option-title{
    font-size: 14px;
    .date-badge{
        cursor: pointer;
        margin: 0 5px;
    }
}

.option-zone{
    margin-bottom: 10px;
}

.tags-switch{
    overflow: hidden ;
    display: -webkit-box ;
    -webkit-line-clamp: 2 ;
    -webkit-box-orient: vertical ;
    word-break: break-all ;
}

.tags{
    span{
        cursor: pointer;
        padding-left: 3px;
        font-size: 14px;
    }
}
.more-tags{
    font-size: 10px;
    line-height: 10px;
    text-align: right;
}

.article_tag{
    margin: 0 2px;
    font-size: 12px;
    padding: 0.2em;
}

.source-tool{

}

.left-input{
    width: 100%;
}

.left-input-btn{
    position: absolute;
    right: 16px;
}

.fz-10{
    font-size: 10px;
}

.tags-badge{
    margin-right: 5px;
    
    .closeBadge{
        font-size: 12px;
        padding-left: 3px;
        cursor: pointer;
    }
}

@media(max-width:669px){
    .search-header {
        .search-input {
            .sort-by{
                margin: 0 10px 5px 0;
            }
        }
    }
}

